*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
html, body{
    height: 100%;
}
#fundo-principal{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    background-image: url(fundo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#sombra{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
header{
    margin: 0 auto;
    width: 40%;
}
header ul{
    text-align: center;
    list-style: none;
    padding: 20px 0 0 0;
}
header li {
    color: whitesmoke;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px 0 20px;
    letter-spacing: 1px;
}
header li a{
    text-decoration: none;
    color: whitesmoke;
}
header li:hover{
    text-decoration: line-through;
    cursor: pointer;
}
#centro{
    margin: 250px auto;
    text-align: center;
    color: whitesmoke;
}
#centro h1{
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 60px;
}
#centro p{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 30px;
}
@media screen and (max-width:761px){
    #centro h1{
        font-size: 50px;
    }    
}
@media screen and (max-width:662px){
    #centro h1{
        font-size: 42px;
    }    
}
@media screen and (max-width:550px){
    #centro h1{
        font-size: 36px;
    }    
}
@media screen and (max-width:470px){
    #centro h1{
        font-size: 28px;
    }    
}
#menu-concertos a{
    color: black;
}
#menu-concertos li{
    color: black;
}
#imagem-fundo{
    width: 100%;
    text-align: center;
}
#imagem-fundo img{
    margin-top: 40px;
}
#opcoes-centro{
    width: 70%;
    margin: 0 auto;
    height: 500px;
}
#opcoes-centro .normal{
    background-color: black;
    width: 73%;
    height: 13%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
}
#opcoes-centro .normal:hover{
    background-color: white;
}
#opcoes-centro .normaldois{
    background-color: black;
    width: 73%;
    height: 13%;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}
#opcoes-centro .normaldois:hover{
    background-color: red;
}
#opcoes-centro .normaltres{
    background-color: black;
    width: 73%;
    height: 13%;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}
#opcoes-centro .normaltres:hover{
    background-color: blue;
}
#opcoes-centro .normalquatro{
    background-color: black;
    width: 73%;
    height: 13%;
    margin: 20px auto;
    padding: 0;
    border-radius: 20px;
}
#opcoes-centro .normalquatro:hover{
    background-color: rgb(216, 216, 0);
}
article{
    text-align: center;
}
article #texto{
    color: white;
}
#texto h1{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
#texto h2{
    font-size: 14px;
    font-weight: 500;
    color: rgb(207, 207, 207);
}
#texto a{
    text-decoration: none;
}
