*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header h1{
    font-size: 64px;
    font-weight: lighter;
    text-align: center;
    margin: 10px;
    color: blueviolet;
    text-shadow: 5px 2px 70px blue;
}

#centro{
   max-width: 100%;
   margin: 10px;
   line-height: 30px;
   word-spacing: 15px;

}

#centro h2{
    color: rgb(255,255,0);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px yellowgreen;
}

#centro p{
    text-indent: 25px;
}
.alinhado{
    text-align:justify;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

#Titulos p{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 3px;
}
#Titulos h1{
    font-size: 12px;
    font-weight: 200;
}

#Titulos h6{
    font-size: 20px;
    font-weight: 600;
}

#container{
    height: 200px;
    border: 1px solid gainsboro;
    overflow: auto;
}

footer a{
    color: #39e75f;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow: 2px 2px 5px green;
}

footer span{
    color: rgba(0,120,0,0.5);
}